/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Chelsea Market", sans-serif;
    --secondary-font: "Merriweather Sans";
    --primary-color: #F2F1DF; /* cream */
    --secondary-color: #012326; /* dark teal */
    --highlight-color: #0396A6; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}


/*Global Styles*/
body {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--highlight-color); 
}

p .my-4 {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

/*Navbar*/

#navbar {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.nav-link active{
    color: var(--highlight-color);
}

#navbar .logo {
    width: 50px;
}

/*Header section*/

.btn-primary {
    background-color: var(--highlight-color);
    border:none;
}

.btn-primary:hover {
    background-color: var(--highlight-color-light);
}

.btn-primary:active {
    background-color: var(--highlight-color);
}

/*Carousel*/

.carousel-inner img {
    height: 300px; /* Set a fixed height for all images */
    width: 50%;
    object-fit: cover; /* Ensure the image covers the entire area without stretching */
}

/*Main Section*/
.column {
    /*border: 1px solid #000;*/
    min-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

  

/*Cards*/

.card-title {
    font-family: var(--primary-font);
    color: var(--highlight-color);
}



/*Media Queries*/

/*Who we are & what we do section*/
@media (max-width: 425px) {
    .container-fluid .row .col-6 {
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px;
    }
  }

/*Meetings section*/
@media screen and (max-width: 768px) {
    .container-fluid .row .col-4 {
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px;
    }
  }